*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    /* background-color: #DCD0D0; */
    color: black;
}

a
{
    color: white;
}

a:hover
{
    color: white;
}

.acontato
{
    color: black;
}

.acontato:hover
{
    color: black;
    text-decoration: none;
}

